@font-face {
    font-family: myFont;
    src: url('Technology-Bold.ttf');
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    margin: 0;
    text-align: center;
}

.container {
    background-image: url("images/scoreboardbg.jpg");
    background-size: cover;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;   
    border-radius: 10px;
}

.team {
    color: white;
    font-size: 26px;
}

.board-point {
    background-color: rgb(10, 10, 10);
    width: 100px;
    height: 70px;
    color: rgb(255, 0, 64);
    border: 1px solid white;
    border-radius: 3px;
    font-family: myFont;
    font-size: 64px;
    padding: 5px 10px 0 0;
    text-align: right;
}

.points{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.point{
    font-family: myFont;
    font-size: 16px;
    width: 30px;
    height: 25px;
    border: 2px solid white;
    color: white;
    text-shadow: 1px 1px 1px rgb(255, 0, 64);
    padding-top: 5px;
    border-radius: 5px;
    
}

.point:hover{
    cursor: pointer;
    background-color: black; 

}


.tracker {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.restart{
    background-color: goldenrod;
    height: 30px;
    border-radius: 5px;
    border: none;
    
}

.time {
    background-color: rgb(10, 10, 10);
    border: 1px solid white;
    border-radius: 3px;
    color: rgb(255, 0, 64);
    font-family: myFont;
    padding-top: 2px;
    font-size: 20px;

}

#timer{
    width: 80px;
    height: 40px;
    margin-bottom: 30px;
    color: rgb(243, 184, 36);
    font-size: 36px;
    padding-top: 5px;
}

#period{
    width: 40px;
    height: 30px;
    color: rgb(8, 236, 8);
    font-size: 26px;
    text-shadow: 1px 1px 1px green;

}

.tracker p{
    color: white;
    font-size: 12px;
    text-shadow: 1px 1px 1px black;
}

